<IfModule mod_rewrite.c>
  RewriteEngine On
  # Redirect non‐existing files/folders to index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^.*$ index.php [L,QSA]
</IfModule>
SetEnv PROJECT_ROOT_URL "/itransition_task_5"